<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:vertical-align="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: links">
    <link rel="css/fontello.css" type="text/css"/>
</head>

<body>
<div th:replace="fragments :: header"></div>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">


            <div class="list-group">
                <h2>About Buy Recycle</h2>
                <h4>In this page, you can see, that it's not complete and there will be an appropriate description in near future.</h4><br>
                <h4>Don't look at the picture!!</h4>


            </div>

        </div>
        <div>
            <div class="col-lg-6 col-md-10 mb-8">
                <div class="card1 h-100">

                    <div>
                        <div>
                            <h4>
                                <img
                                        src="/images/buyRecycleAbout.jpg" th:width="300" th:height="250"/>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-lg-6 col-md-10 mb-8">
                    <div class="card1 h-100">

                        <div>
                            <div>
                                <h4>
                                    <img
                                            src="/images/buyRecycleAbout.jpg" th:width="300" th:height="250"/>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>


            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">



            <br><br><br><br><br><br>
            <div th:replace="fragments :: footer"></div>
        </div>
    </div>
</div>

</body>

</html>
