<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: links">
</head>
<body>

<div th:replace="fragments :: header"></div>

<div class="container">
    <!--Treść strony-->
    <br>
    <legend>Current Offers</legend><br>
    <div class="row">
        <div class="col-md-12">





    <table class="table table-striped table-hover " style="border-width: 1px">
        <thead>
        <tr>
            <th>Offer</th>
            <th>Material</th>
            <th>Form</th>
            <th>Color</th>
            <th>Price per kg</th>
            <th> </th>
        </tr>
        </thead>
        <tbody th:each="offers : ${offerWishes}">
        <tr class="warning">
            <td th:text="${offers.getOfferName()}"></td>
            <td th:text="${offers.getMaterial().getName()}"></td>
            <td th:text="${offers.getMaterial().getForm()}"></td>
            <td th:text="${offers.getMaterial().color}"></td>
            <td th:text="${offers.getMaterial().price}"></td>
            <td><a class="btn btn-danger btn-xs" th:href="@{'/wishList/removeFromWishList/' + ${offers.getId()}}">Remove</a></td>
        </tr>

        </tbody>
    </table>



</div>
    </div></div>
<div th:replace="fragments :: footer"></div>

</body>
</html>